@model List<MilwaukeeActivies.Models.Activities>

@{
    ViewData["Title"] = "Favorites";
}

<h3>Your Favorites</h3>

<div>
    <hr />
    <table class="table table-bordered  table-hover">
        <tr>
            <th>Activities</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.ActivityId</td>
            </tr>
        }
    </table>
</div>
