@model MilwaukeeActivies.Models.InterestModel
@{

    ViewData["Title"] = "SelectInterests";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<h1>SelectInterests</h1>



    
    <body>
        <div class="container">
            @using (Html.BeginForm("InterestProcess", "Customer"))
            {
                foreach (var item in Model.AvailableInterestTypes)
                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"
                                   name="SelectedInterests"
                                   value="@item.Value"
                                   @if (Model.SelectedInterests.Contains(item.Value)) { <text> checked </text>  } /> @item.Text
                            </label>
                        </div>
                    }
                    <div class="form-group text-center">
                        <input type="submit" class="btn btn-primary" value="Submit" />
                    </div>
                }
        </div>
    </body>




