
@{
    ViewData["Title"] = "Landingpage";
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}





<div style="left:46%; background-color:transparent; margin:auto; position:absolute; top:55%; "><button style="background-color:transparent; color:darkgrey;"  class="custombutton" onclick="location.href='@Url.Action("Index", "Customer")'">Login/Register</button></div>

<div style="left:43.3%; background-color:transparent; margin:auto; position:absolute; top:62%; "><button style="background-color:transparent; color:darkgrey;" class="custombutton" onclick="location.href='@Url.Action("AllActivities", "Home")'">Find Activities As A Guest</button></div>

