@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Milwaukee Activities!</h1>
    <br />
    <p>Here's some things that are going on around you!</p>
    <br />
    <p>If you are a returning user, login to enhance yor experience!</p>
    <br />
</div>
