
@{
    ViewData["Title"] = "Landingpage";
    Layout = "~/Views/Shared/LandingLayout.cshtml";
}



<div style="left:46%; background-color:transparent; margin:auto; position:absolute; top:50%; "><button style="background-color:transparent; color:darkgrey;"  class="custombutton" onclick="location.href='@Url.Action("Index", "Customer")'">Login/Register</button></div>
<div style="left:44%; background-color:transparent; margin:auto; position:absolute; top:55%; "><button style="background-color:transparent; color:darkgrey;" class="custombutton" onclick="location.href='@Url.Action("Index", "Home")'">Help Me Find Activities</button></div>